watch_file devbox.json devbox.lock

function install_vagrant_plugin {
  name="$1"

  vagrant plugin list | grep -q "$name" || vagrant plugin install "$name"
}

eval "$(devbox generate direnv --print-envrc)"
install_vagrant_plugin "qemu"
install_vagrant_plugin "vagrant-qemu"
install_vagrant_plugin "net-telnet"
